*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: arial;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
}


.container {
    width: 800px;
    max-width: 80%;
    background-color: grey;
    border-radius: 7px;
    padding: 11px;
}

.btn-grid {
    display: grid;
    gap: 8px;
}

.btn:hover {
    border-color: black;

}

